// splash component

.splash {
  display: table;
  min-height: 100vh;
  width: 100%;
  padding: $large-spacing $base-spacing;
  @include media($medium-screen-up) {
    padding: 0;
  }
}

.splash__container {
  display: table-cell;
  vertical-align: middle;
}
