<section class="splash splash--capture backgrounded">
  <div class="container splash__container">
    <header class="title-block">
      <h1 class="title title-block__title">Tech City Debates</h1>
      <p class="body body--lead title-block__body">
        Monthly debates on issues in tech, happening in and around 'Tech City' in London. Entrepreneurs, Academics, Investors, and Special Interests come together to debate motions that are relevant to the immediate and long-term future of the tech community, and the wider world. Debates occur in the <a href="https://en.wikipedia.org/wiki/Debate#Forms_of_debate" target="_blank">Mace format</a>.
      </p>
    </header>
    <hr />
    <div class="title-block">
      <h2 class="title title-block__title title--small">Register your interest</h2>
      <p class="body title-block__body">Subscribe to updates using your email address below. We'll send you a notification once the inaugral debate is ready to go.</p>
    </div>
    <div class="capture-block">
      <%= partial :"partials/email_capture" %>
    </div>
  </div>
</section>