<section class="holler holler--capture backgrounded">
  <div class="container holler__container">
    <header class="title-block">
      <h1 class="title title-block__title">Tech City Debates</h1>
      <p class="body body--lead title-block__body">
        Monthly debates on issues in tech, happening in and around 'Tech City' in London. Entrepreneurs, Academics, Investors, and Special Interests come together to debate motions that are relevant to the immediate and long-term future of the tech community, and the wider world. Debates occur in the <a href="https://en.wikipedia.org/wiki/Debate#Forms_of_debate" target="_blank">Mace format</a>.
      </p>
    </header>
  </div>
</section>